<ion-header>
    <ion-navbar>
        <ion-title>
         Listagem de Usuários
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredUsers()">

    </ion-searchbar>
    <ion-list>
        
        <ion-item  *ngFor="let item of users" (click)="viewItem(item)">
            <ion-icon *ngIf="item.done" color="primary" name="checkmark-circle" item-right>
                </ion-icon>
            <ion-thumbnail item-left>
                <img [src]="item.picture.medium" alt="Imagem do usuário">
            </ion-thumbnail>
            <h2>
                {{item.name.first}} {{item.name.last}}
            </h2>
            <p>
                {{item.email}} <br /> {{item.dob | date:"dd/MM/yyyy HH:mm" }}
            </p>
        </ion-item>
    </ion-list>
</ion-content>