<ion-header>

    <ion-toolbar >
        <ion-title>
            Detalhes do Usuário
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="close()">
                <ion-icon name="close">
                </ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content padding>
    <ion-card-header>
        <ion-card>
            <ion-item>
                <ion-thumbnail item-left>
                    <img [src]="user.picture.large" alt="Imagem do usuário">
                </ion-thumbnail>
                <h2>
                    Nome: {{user.name.first}} {{user.name.last}}
                </h2>
                <p>
                    Estado: {{user.location.state}}
                </p>
                <p>
                    Cidade: {{user.location.city}}, {{user.location.street}}
                </p>
                <p>
                    Rua: {{user.location.street}}
                </p>
                 <p>
                    Nacionalidade: {{user.nat}}
                </p>
                
                <p>
                    Telefone: {{user.phone}}
                </p>
                <p>
                    Celular: {{user.cell}}
                </p>
                <p>
                    Identidade: {{user.id.value}}
                </p>
                <p>
                    D. Nasc: {{user.dob | date:"dd/MM/yyyy HH:mm" }}
                </p>
            </ion-item>
        </ion-card>
    </ion-card-header>
    <button full ion-button (click)="close()">
    Voltar
    </button>
</ion-content>